.App {
  text-align: center;
  overflow-x: hidden;
  background-color: rgb(144, 167, 26);
}

.box{
  background-color: 'lightblue';
  padding: '5px';
  border-radius: '5px';
  border: '1px solid #ccc' ;
}
